[submodule "SOMns"]
	path = SOMns
	url = git@github.com:richard-roberts/SOMns
[submodule "GraceLibrary"]
	path = GraceLibrary
	url = git@github.com:richard-roberts/GraceLibrary
[submodule "kernan"]
	path = kernan
	url = https://github.com/mwh/kernan.git
