[submodule "SOMns"]
	path = SOMns
	url = https://github.com/moth-project/moth-SOMns.git
[submodule "GraceLibrary"]
	path = GraceLibrary
	url = https://github.com/moth-project/GraceLibrary.git
[submodule "kernan"]
	path = kernan
	url = https://github.com/moth-project/moth-kernan.git
